body {
  /* color: #13191b; */
  color:#090504;
  font-size: 16px;
  font-family:'kyokasho_l', "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  line-height: 1.7;
  text-align: center;
}
