@charset "UTF-8";
h1 {
  font-family: 'Berkshire Swash', cursive ,Bernard MT,sans-serif;
  font-size: 2rem;
}

.load {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Berkshire Swash', cursive , Bernard MT,sans-serif;
}

.load > p {
  position: absolute;
  top: 50%;
  left: 45%;
}

#pagetop {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.fadein {
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fadein.active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.logo {
  position: relative;
  z-index: auto;
  margin-left: 50px;
  font-family: Bernard MT,sans-serif;
  font-size: 45px;
}

.logo::before {
  display: inline-block;
  position: absolute;
  bottom: 50%;
  left: 20%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  z-index: -1;
  border-radius: 50%;
  background-color: red;
  width: 50px;
  height: 50px;
  content: "";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 5;
  background-color: #fff;
  width: 100%;
  height: 65px;
}

.header__logo {
  position: fixed;
  top: 0;
  left: 0;
}

.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  margin-right: 50px;
  font-family: 'Berkshire Swash', cursive , Bernard MT,sans-serif;
  font-size: 20px;
}

.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__nav > ul > li {
  margin-left: 30px;
}

.header__nav > ul > li > a {
  color: #000;
  text-decoration: none;
}

.header__nav > ul > li > a:hover {
  text-decoration: underline;
}

.header__nav.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.header__shape {
  display: none;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc((100vw - 960px) /2) 1fr calc((100vw - 960px) /2);
  grid-template-columns: calc((100vw - 960px) /2) 1fr calc((100vw - 960px) /2);
  -ms-grid-rows: (auto)[5];
  grid-template-rows: repeat(5, auto);
  background-color: #F9F8F6;
}

.slideshow {
  position: relative;
  position: relative;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0 auto;
  width: 95%;
  height: 95vh;
  overflow: hidden;
}

.slideshow img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0% 35%;
  object-position: 0% 35%;
}

/* JavsScript 無効時 */
.no-js .slideshow img:first-child {
  display: inline;
}

#about {
  grid-column: 2 / -2;
  -ms-grid-row: 2;
  grid-row: 2;
  padding: 150px 0;
}

#about > h1 {
  margin-bottom: 50px;
  font-family: Bernard MT,sans-serif;
}

#about > p {
  margin: 0 18px;
  font-size: 1rem;
  line-height: 2;
}

#massage {
  display: -ms-grid;
  display: grid;
  grid-column: 1/ -1;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-columns: calc((100vw - 960px) /2) 1fr calc((100vw - 960px) /2);
  grid-template-columns: calc((100vw - 960px) /2) 1fr calc((100vw - 960px) /2);
  margin: 0 auto;
  background: url("../img/Coffee.jpg") no-repeat;
  background-size: cover;
  padding: 200px 0;
  width: 95%;
}

#massage > P {
  grid-column: 2/-2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  width: 70%;
  color: #fff;
  font-size: 1.2rem;
}

#menu {
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  grid-row: 4;
  background-color: #fff;
  padding: 80px 0;
}

#menu > h1 {
  margin-bottom: 50px;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.menu__card {
  margin-bottom: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  width: 49%;
  height: auto;
}

.menu__card-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.menu__card-img > img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu__card-img > img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 100% !important;
  height: 100%;
}

#mordal__card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
  margin: auto;
  width: 100vw;
}

#infomation {
  display: -ms-grid;
  display: grid;
  grid-column: 2 / -2;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 0;
}

#infomation > h1 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-bottom: 50px;
}

#infomation > table {
  font-family: serif;
  font-size: 1.2rem;
  text-align: left;
}

#infomation > table > tbody > tr > th {
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: right;
}

#infomation > table > tbody > tr > td {
  text-align: left;
}

#infomation .infomation__map > iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc((100vw - 960px) /2) (1fr)[2] calc((100vw - 960px) /2);
  grid-template-columns: calc((100vw - 960px) /2) repeat(2, 1fr) calc((100vw - 960px) /2);
  -ms-grid-rows: 20px 50px 20px;
  grid-template-rows: 20px 50px 20px;
  z-index: -3;
  background-color: #000;
  padding-top: 20px;
  color: #fff;
}

.footer__logo {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  z-index: 2;
  border: 1px solid #fff;
  width: 130px;
  height: 2rem;
  font-size: 1rem;
  line-height: 2;
}

.footer__logo::before {
  left: 30%;
  width: 1rem;
  height: 1rem;
}

.footer__nav {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  font-family: 'Berkshire Swash', cursive;
}

.footer__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

.footer__nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.footer__nav > ul > li > a:hover {
  text-decoration: underline;
}

.footer > small {
  grid-column: 1/-1;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  font-family: serif;
}

@media screen and (max-width: 559px) {
  h1 {
    font-size: 1.5rem;
  }
  .slideshow {
    height: 30vh;
  }
  #about {
    padding: 35px 0;
  }
}

@media screen and (max-width: 959px) {
  .logo {
    margin-left: 10px;
    font-size: 35px;
  }
  .logo::before {
    width: 40px;
    height: 40px;
  }
  .header__nav {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    margin-right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    font-size: 18px;
  }
  .header__nav > ul {
    display: block;
  }
  .header__nav > ul > li {
    margin-left: 0;
    border-bottom: solid #fff 2px;
    padding: 15px 35px;
  }
  .header__nav > ul > li:last-child {
    border-bottom: none;
  }
  .header__nav > ul > li > a {
    color: #fff;
  }
  .header__shape {
    display: block;
    position: absolute;
    top: 12px;
    right: 13px;
    cursor: pointer;
    width: 42px;
    height: 42px;
  }
  .header__shape > span {
    display: block;
    position: absolute;
    left: 6px;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    border-bottom: solid 3px #000;
    width: 30px;
  }
  .header__shape > span:nth-child(1) {
    top: 9px;
  }
  .header__shape > span:nth-child(2) {
    top: 18px;
  }
  .header__shape > span:nth-child(3) {
    top: 27px;
  }
  .header__shape.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #fff;
  }
  .header__shape.active span:nth-child(2), .header__shape.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #fff;
  }
  #about > p {
    font-size: 0.9rem;
  }
  #massage {
    background: url("../img/Coffee-1024.jpg") no-repeat;
    background-size: cover;
  }
  #massage > P {
    font-size: 1rem;
  }
  .menu__card {
    width: 100%;
  }
  #mordal__card {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #infomation {
    -ms-grid-rows: (auto)[2] 50%;
    grid-template-rows: repeat(2, auto) 50%;
    padding: 50px 0 80px;
  }
  #infomation > h1 {
    margin-bottom: 25px;
  }
  #infomation > table {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 0 auto 25px;
    font-size: 1rem;
  }
  #infomation > table > tbody > tr > th {
    margin-bottom: 10px;
  }
  #infomation .infomation__map {
    grid-column: 1/-1;
    padding: 0 30px;
  }
  .footer__logo {
    font-size: 90%;
  }
  .footer__logo::before {
    width: 0.9rem;
    height: 0.9rem;
  }
  .footer__nav > ul {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 959px) and (min-width: 560px) {
  .slideshow {
    height: 65vh;
  }
  #about {
    padding: 75px 0;
  }
}
